body {
	background: url("https://us.mythic.pw/42.png") no-repeat center center fixed;
	background-color: #222;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}

#main {
	padding: 25px 0;
	margin-top: 0px;
}

#main #orderNow #description {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.box {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 25px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-box-shadow: 0 0px 9px 1px rgba(14, 14, 14, 0.5);
	-webkit-box-shadow: 0 0px 9px 1px rgba(14, 14, 14, 0.5);
	box-shadow: 0 0px 9px 1px rgba(14, 14, 14, 0.5);
	border-bottom: 5px solid #279af2;
}

.box h2 {
	font-size: 24px;
	margin: 25px 0 15px 0;
	font-weight: bold;
}

.box small {
	font-size: 14px;
	color: #2493f1;
}

.box code {
	margin-top: 10px;
	display: inline-block;
	color: #2697f1;
	background-color: #151515;
}

.btn-order {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background-color: black;
	-moz-box-shadow: 0 0px 9px 1px rgba(14, 14, 14, 0.5);
	-webkit-box-shadow: 0 0px 9px 1px rgba(14, 14, 14, 0.5);
	box-shadow: 0 0px 9px 1px rgba(14, 14, 14, 0.5);
	margin-bottom: 15px;
}

.btn-order:hover, .btn-order:focus {
	color: #999;
}

#footer {
	margin-top: 15px;
	text-align: center;
}

#footer a {
	color: #ddd;
	font-weight: 300 !important;
	font-size: 14px;
}

#footer a:hover, #footer a:focus {
	color: #0073dd;
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.modal-content {
	background-color: #041220;
}

.modal-header {
	border-bottom: 1px solid #03080d;
}

.modal-footer {
	border-top: 1px solid #03080d;
}

.slider {
	opacity: 1;
	width: 100%;
	height: 10px;
	outline: none;
	background: #fff;
	appearance: none;
	border-radius: 4px;
	-webkit-appearance: none;
	-webkit-transition: 350ms;
	transition: opacity 350ms;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #2493f1;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #2493f1;
	cursor: pointer;
}

.btn-primary {
	background-color: #2493f1;
	border: none;
}

.btn-primary:hover {
	background-color: #1e1e1e;
}

.form-control {
	color: #fff;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 0px;
	background-color: rgba(53, 53, 53, 0);
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

pre li {
	list-style-type: decimal;
}

/* NAVBAR */

#main-nav .navbar{
    min-height:60px;
    margin-bottom:0;
    border-radius:0;
	font-family: 'Raleway';
}
#main-nav .navbar-default{
    background:#F2443D;
    background:-webkit-linear-gradient(to bottom, #258AD8, #2074B5);
    background:linear-gradient(to bottom, #258AD8, #2074B5);
    border:none
}
#main-nav .navbar-default .navbar-nav>li>a{
    color:#fff;
    margin-top:8px
}
#main-nav .navbar-default .navbar-nav>li>a:hover,#main-nav .navbar-default .navbar-nav>li>a:focus{
    color:#ddd
}
#main-nav .navbar-default .navbar-brand{
    color:#fff
}
#main-nav .navbar-default .navbar-brand:hover,#main-nav .navbar-default .navbar-brand:focus{
    color:#ddd
}
#main-nav .navbar-brand img{
    display:inline-block
}
